<div class="media">
   <div class="media-body">
     <div class="row">
       <h5 class="col-md-2 record-title pad-left"><%= "#{ 'School Name:' }"%></h5> <h5 class="col-md-4 record-data"><%= "#{ @athlete.academic.schoolName  }"  %></h5>
       <h5 class="col-md-2 record-title pad-left"><%= "#{ 'School Phone:' }"%></h5> <h5 class="col-md-4 record-data"><%= "#{ @athlete.academic.phone  }" %></h5>
     </div>
     <div class="row">
       <h5 class="col-md-2 record-title pad-left"><%= "#{ 'SAT Math:' }"%></h5> <h5 class="col-md-2 record-data"><%= "#{ @athlete.academic.satMath }" %></h5>
       <h5 class="col-md-2 record-title pad-left"><%= "#{ 'SAT Verbal:' }"%></h5> <h5 class="col-md-2 record-data"><%= "#{ @athlete.academic.satEnglish  }" %></h5>
       <h5 class="col-md-2 record-title pad-left"><%= "#{ 'SAT Total:' }"%></h5> <h5 class="col-md-2 record-data"><%= "#{ @athlete.academic.satTotal  }" %></h5>
     </div>
     <div class="row">
       <h5 class="col-md-2 record-title pad-left"><%= "#{ 'ACT Total:' }"%></h5> <h5 class="col-md-2 record-data"><%= "#{ @athlete.academic.actTotal  }" %></h5>
       <h5 class="col-md-2 record-title pad-left"><%= "#{ 'TOFEL Total:' }"%></h5> <h5 class="col-md-2 record-data"><%= "#{ @athlete.academic.tofelTotal  }" %></h5>
     </div>
     <div class="row">
       <h5 class="col-md-2 record-title pad-left"><%= "#{ 'GPA:' }"%></h5> <h5 class="col-md-2 record-data"><%= "#{ @athlete.academic.gpa }" %></h5>
       <h5 class="col-md-2 record-title pad-left"><%= "#{ 'GPA Scale:' }"%></h5> <h5 class="col-md-6 record-data"><%= "#{ @athlete.academic.gpaScale  }" %></h5>
     </div>
     <div class="row">
       <h5 class="col-md-2 record-title pad-left"><%= "#{ 'Class Rank:' }"%></h5> <h5 class="col-md-2 record-data"><%= "#{ @athlete.academic.classRank }" %></h5>
       <h5 class="col-md-2 record-title pad-left"><%= "#{ 'Class Size:' }"%></h5> <h5 class="col-md-6 record-data"><%= "#{ @athlete.academic.classSize  }" %></h5>
     </div>
     <div class="row">
       <div class="panel-heading">
         <h5 class="col-md-2 record-title pad-left"><%= "#{ 'Academic Notes:' }"%></h5>
       </div>
       <div class="panel panel-body">
         <h5 class="col-md-10 record-data"><%= "#{ @athlete.academic.notes  }" %></h5>
       </div>
     </div>
   </div>
</div>
