<div class="media">
   <div class="media-body">
     <h5 class="col-md-2 record-title"><%= "#{ 'School Name:' }"%></h5> <h5 class="col-md-4 record-data"><%= "#{ @athlete.academic.schoolName  }"  %></h5>
     <h5 class="col-md-2 record-title"><%= "#{ 'School Phone:' }"%></h5> <h5 class="col-md-4 record-data"><%= "#{ @athlete.academic.phone  }" %></h5>
     <h5 class="col-md-2 record-title"><%= "#{ 'SAT Math:' }"%></h5> <h5 class="col-md-2 record-data"><%= "#{ @athlete.academic.satMath }" %></h5>
     <h5 class="col-md-2 record-title"><%= "#{ 'SAT Verbal:' }"%></h5> <h5 class="col-md-2 record-data"><%= "#{ @athlete.academic.satEnglish  }" %></h5>
     <h5 class="col-md-2 record-title"><%= "#{ 'SAT Total:' }"%></h5> <h5 class="col-md-2 record-data"><%= "#{ @athlete.academic.satTotal  }" %></h5>
     <h5 class="col-md-2 record-title"><%= "#{ 'ACT Total:' }"%></h5> <h5 class="col-md-10 record-data"><%= "#{ @athlete.academic.actTotal  }" %></h5>
     <h5 class="col-md-2 record-title"><%= "#{ 'GPA:' }"%></h5> <h5 class="col-md-2 record-data"><%= "#{ @athlete.academic.gpa }" %></h5>
     <h5 class="col-md-2 record-title"><%= "#{ 'GPA Scale:' }"%></h5> <h5 class="col-md-6 record-data"><%= "#{ @athlete.academic.gpaScale  }" %></h5>
     <h5 class="col-md-2 record-title"><%= "#{ 'Class Rank:' }"%></h5> <h5 class="col-md-2 record-data"><%= "#{ @athlete.academic.classRank }" %></h5>
     <h5 class="col-md-2 record-title"><%= "#{ 'Class Size:' }"%></h5> <h5 class="col-md-6 record-data"><%= "#{ @athlete.academic.classSize  }" %></h5>
     <h5 class="col-md-2 record-title"><%= "#{ 'Academic Notes:' }"%></h5> <h5 class="col-md-10 record-data"><%= "#{ @athlete.academic.notes  }" %></h5>
   </div>
</div>
