<div class="media">
   <div class="media-body">
     <h5 class="col-md-3 record-title"><%= "#{ 'Parent 1 Address:' }"%></h5> <h5 class="col-md-9 record-data"><%= "#{ @athlete.mother_address.street  }"  %></h5>
     <h5 class="col-md-3 record-title"><%= "#{ ' ' }"%></h5> <h5 class="col-md-9 record-data"><%= "#{ @athlete.mother_address.street2  }" %></h5>
     <h5 class="col-md-3 record-title"><%= "#{ ' ' }"%></h5> <h5 class="col-md-9 record-data"><%= "#{ @athlete.mother_address.city + ", " +  @athlete.mother_address.state + '   ' + @athlete.mother_address.zip  }" %></h5>
     <h5 class="col-md-3 record-title"><%= "#{ ' ' }"%></h5> <h5 class="col-md-9 record-data"><%= "#{ @athlete.mother_address.country  }" %></h5>
   </div>
</div>
