<div class="media">
   <div class="media-body">
     <h5 class="col-md-2 record-title"><%= "#{ 'School Address:' }"%></h5> <h5 class="col-md-10 record-data"><%= "#{ @athlete.school_address.street  }"  %></h5>
     <h5 class="col-md-2 record-title"><%= "#{ ' ' }"%></h5> <h5 class="col-md-10 record-data"><%= "#{ @athlete.school_address.street2  }" %></h5>
     <h5 class="col-md-2 record-title"><%= "#{ ' ' }"%></h5> <h5 class="col-md-10 record-data"><%= "#{ @athlete.school_address.city + ", " +  @athlete.school_address.state + '   ' + @athlete.school_address.zip  }" %></h5>
     <h5 class="col-md-2 record-title"><%= "#{ ' ' }"%></h5> <h5 class="col-md-10 record-data"><%= "#{ @athlete.school_address.country  }" %></h5>
   </div>
</div>
