
<%= form_for [@sport.athlete, @sport] do |formItem| %>

  <div class="form-group col-md-2">
    <%= formItem.label "Active" %>
    <%= formItem.check_box :active, class: 'form-control', id: :sport_active %>
  </div>

  <div class="col-md-10">
    <h4>In order to prevent data loss we do not allow you to change one sport to another sport, if you wish to change the sports please just add another sport and make this one inactive.</h4>
  </div>

  <div class="col-md-12">
      <div class="media">
         <div class="media-body">

           <% if  @sport.sportName === "Men's Diving" || @sport.sportName === "Women's Diving" %>
             <h3 class="col-md-12 record-division"><%= "#{ 'Best Diving Scores:' }"%></h3>
             <h1> </h1>
                <%= formItem.fields_for :diving do |divingForm| %>
                  <%= render partial: 'divings/editDiving', locals: { divingForm: divingForm } %>
                <% end %>
           <% elsif @sport.sportName === "Men's Swimming" || @sport.sportName === "Women's Swimming" %>
             <h3 class="col-md-12 record-division"><%= "#{ 'Best Times:' }"%></h3>
             <h1> </h1>
                <%= formItem.fields_for :swimming do |swimmingForm| %>
                  <%= render partial: 'swimmings/editSwimming', locals: { swimmingForm: swimmingForm } %>
                <% end %>

           <% elsif @sport.sportName === "Men's Water Polo" || @sport.sportName === "Women's Water Polo" %>
             <h3 class="col-md-12 record-division"><%= "#{ 'Water Polo Information:' }"%></h3>
             <h1> </h1>
                <%= formItem.fields_for :waterpolo do |waterpoloForm| %>
                  <%= render partial: 'waterpolos/editWaterpolo', locals: { waterpoloForm: waterpoloForm } %>
                <% end %>

           <% else %>

           <% end %>

         </div>
      </div>
  </div>

  <div class="form-group col-md-12">
    <h5 class="col-md-12 record-title"><%= " " %></h5>
    <%= formItem.submit "Save", class: 'btn btn-success'  %>
  </div>

<% end %>
