<div class="media">
  <div class="media-body">
    <div class="row">
      <div class="col-md-12">
        <h3><span class="record-data"><%= "#{ @sport.athlete.firstName + ' ' + @sport.athlete.middleName + ' ' + @sport.athlete.lastName }" %></span> -
        <span class="sport-names"><%= @sport.sportName %></span> - <span class="record-data"><%= @sport.active ? "Active" : "Inactive" %></span></h3>
      </div>

      <div class="col-md-12">
        <%= link_to "Check All Division I Programs", check_all_divisions_sport_path(:test => "Division 1" ), class: 'btn btn-info btn-sm', method: :put %>
        <%= link_to "Check All Division II Programs", check_all_divisions_sport_path(:test => "Division 2" ), class: 'btn btn-info btn-sm', method: :put %>
        <%= link_to "Check All Division III Programs", check_all_divisions_sport_path(:test => "Division 3" ), class: 'btn btn-info btn-sm', method: :put %>
        <%= link_to "Check All NAIA Programs", check_all_divisions_sport_path(:test => "NAIA" ), class: 'btn btn-info btn-sm', method: :put %>
        <%= link_to "Check All Junior College Programs", check_all_divisions_sport_path(:test => "Junior College" ), class: 'btn btn-info btn-sm', method: :put %>
      </div>
      <br>

      <div class="col-md-12">
        <%= link_to "Check All Schools for All Divisions", check_all_divisions_sport_path(:test => "All" ), class: 'btn btn-success btn-sm', method: :put %>
        <%= link_to "UnCheck All Schools for All Divisions", uncheck_all_schools_sport_path, class: 'btn btn-danger btn-sm', method: :put %>
      </div>


      <%= form_tag update_myprograms_myprograms_path, method: :patch do %>
      <div class="col-md-12">

          <div class="col-md-12 record-division"><h4> <%= "#{ "NCAA Division 1" }" %> </h4>

            <% @d1myprograms.each do |myprogram| %>
              <%= fields_for "d1myprograms[]", myprogram do |f| %>
                <div class="checkbox">
                  <label>
                  <h4 class="col-md-12 record-data"><%= f.check_box :public, class: 'checkbox inline' %>
                  <%= "#{ "   " + myprogram.program.collegeName  }" %></h4>
                </label>
                </div>
              <% end %>
            <% end %>
          </div>

          <div class="col-md-12 record-division"><h4> <%= "#{ "NCAA Division 2" }" %> </h4>
            <% @d2myprograms.each do |myprogram| %>
              <%= fields_for "d2myprograms[]", myprogram do |f| %>
                <div class="checkbox">
                  <label>
                  <h4 class="col-md-12 record-data"><%= f.check_box :public, class: 'checkbox inline' %>
                  <%= "#{ "   " + myprogram.program.collegeName  }" %></h4>
                </label>
                </div>
              <% end %>
            <% end %>
          </div>

          <div class="col-md-12 record-division"><h4> <%= "#{ "NCAA Division 3" }" %> </h4>
            <% @d3myprograms.each do |myprogram| %>
              <%= fields_for "d3myprograms[]", myprogram do |f| %>
                <div class="checkbox">
                  <label>
                  <h4 class="col-md-12 record-data"><%= f.check_box :public, class: 'checkbox inline' %>
                  <%= "#{ "   " + myprogram.program.collegeName  }" %></h4>
                </label>
                </div>
              <% end %>
            <% end %>
          </div>

          <div class="col-md-12 record-division"><h4> <%= "#{ "NAIA" }" %> </h4>
            <% @naiamyprograms.each do |myprogram| %>
              <%= fields_for "naiamyprograms[]", myprogram do |f| %>
                <div class="checkbox">
                  <label>
                  <h4 class="col-md-12 record-data"><%= f.check_box :public, class: 'checkbox inline' %>
                  <%= "#{ "   " + myprogram.program.collegeName  }" %></h4>
                </label>
                </div>
              <% end %>
            <% end %>
          </div>

          <div class="col-md-12 record-division"><h4> <%= "#{ "Junior College" }" %> </h4>
            <% @jcmyprograms.each do |myprogram| %>
              <%= fields_for "jcmyprograms[]", myprogram do |f| %>
                <div class="checkbox">
                  <label>
                  <h4 class="col-md-12 record-data"><%= f.check_box :public, class: 'checkbox inline' %>
                  <%= "#{ "   " + myprogram.program.collegeName  }" %></h4>
                </label>
                </div>
              <% end %>
            <% end %>
          </div>
      </div>
        <div class="form-group col-md-12">
          <br/>
          <%= submit_tag "Save", class: 'btn btn-success'  %>
        </div>
      <% end %>
        </div>

    </div>
  </div>
</div>
