<div class="media">
  <div class="media-body">
     <div class="row">
        <div class="col-md-7">
          <h3><span class="record-data"><%= "#{ @athlete.firstName + ' ' + @athlete.middleName + ' ' + @athlete.lastName }" %></span> -
            <span class="sport-names"><%= @sport.sportName %></span> - <span class="record-data"><%= @sport.active ? "Active" : "Inactive" %></span></h3>
        </div>
        <div class="col-md-5">
          <h3>
            <%= link_to "Edit Sport", edit_athlete_sport_path(@sport), class: 'btn btn-success' %>
            <%= link_to "My Programs", index_myprograms_sport_path(@sport), class: 'btn btn-primary' %>

            <% if !@sport.startSportData?  %>
              <%= link_to "Delete Sport", [@sport.athlete, @sport], method: :delete,
                class: 'btn btn-danger', data: {confirm: 'Are you sure you want to delete this sport?'} %>
            <% end %>
          </h3>
        </div>

        <div class="col-md-12">
          <h1> </h1>
            <% if  @sport.sportName === "Men's Diving" || @sport.sportName === "Women's Diving" %>
                <h4 class="record-division">Diving Information</h4>
                <%= render @sport.diving %>
            <% elsif @sport.sportName === "Men's Swimming" || @sport.sportName === "Women's Swimming" %>
                <h4 class="record-division">Swimming Information</h4>
                <%= render @sport.swimming %>
            <% elsif @sport.sportName === "Men's Water Polo" || @sport.sportName === "Women's Water Polo" %>
                <h4 class="record-division">Water Polo Information</h4>
                <%= render @sport.waterpolo %>
            <% else %>

            <% end %>
        </div>
     </div>
   </div>
</div>
