<div class="media">
  <div class="media-body">
     <div class="row">
        <div class="col-md-7">
          <h3><span class="record-data"><%= "#{ @athlete.firstName + ' ' + @athlete.middleName + ' ' + @athlete.lastName }" %></span> -
            <span class="sport-names"><%= @sport.sportName %></span> - <span class="record-data"><%= @sport.active ? "Active" : "Inactive" %></span></h3>
        </div>
        <div class="col-md-5">
          <h3>
            <%= link_to "Edit Sport", edit_athlete_sport_path(@sport), class: 'btn btn-success' %>
            <%= link_to "My Schools", edit_athlete_sport_path(@sport), class: 'btn btn-success' %>
            <% if !@sport.startSportData?  %>
              <%= link_to "Delete Sport", [@sport.athlete, @sport], method: :delete,
                class: 'btn btn-danger', data: {confirm: 'Are you sure you want to delete this sport?'} %>
            <% end %>
          </h3>
        </div>

        <div class="col-md-12">
          <h1> </h1>
            <% if  @sport.sportName === "Men's Diving" || @sport.sportName === "Women's Diving" %>
                <h4 class="record-division">Diving Information</h4>
                <%= render @sport.diving %>
            <% elsif @sport.sportName === "Men's Swimming" || @sport.sportName === "Women's Swimming" %>
                <h4 class="record-division">Swimming Information</h4>
                <%= render @sport.swimming %>
            <% elsif @sport.sportName === "Men's Water Polo" || @sport.sportName === "Women's Water Polo" %>
                <h4 class="record-division">Water Polo Information</h4>
                <%= render @sport.waterpolo %>
            <% else %>

            <% end %>
        </div>
     </div>

     <div class="col-md-12">
        <h1> </h1>
        <h3 class="record-division">School Choices</h3>
        <div class="media">
            <div class="media-body">
                <% @divisionNames.each do |division| %>
                   <div class="col-md-12 record-data"><h4 class="record-division"> <%= "#{ division.title  }" %> </h4>
                     <% @sport.myprograms.each do |item| %>
                       <% if item.program.division === division.name %>
                          <%= "#{ item.program.collegeName + " - " }" %><span class="sport-names"><%= item.public ? "Open to View" : "Closed" %></span><br>
                       <% end %>
                     <% end %>
                   </div>
                <% end %>
            </div>
        </div>
     </div>
   </div>
</div>
