<%= form_with(model: athlete, local: true) do |form| %>
  <div class="row">
     <div class="col-md-6">
       <p>Guidelines for new athletes</p>
       <ul>
         <li>Please enter both a first and last name.</li>
         <li>Please make sure the year an athlete intends to start school is correct.</li>
         <li>Make sure you check the box for active.</li>
       </ul>
     </div>
     <div class="col-md-6">

          <% if athlete.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(athlete.errors.count, "error") %> prohibited this athlete from being saved:</h2>

              <ul>
                <% athlete.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

            <div class="form-group">
              <%= form.label "first name" %>
              <%= form.text_field :firstName, class: 'form-control', id: :athlete_firstName %>
            </div>

            <div class="form-group">
              <%= form.label "middle name" %>
              <%= form.text_field :middleName, class: 'form-control', id: :athlete_middleName %>
            </div>

            <div class="form-group">
              <%= form.label "last Name" %>
              <%= form.text_field :lastName, class: 'form-control', id: :athlete_lastName %>
            </div>

            <div class="form-group">
              <%= form.label "Perferred Name" %>
              <%= form.text_field :preferredName, class: 'form-control', id: :athlete_perferredName %>
            </div>

            <div class="form-group">
              <%= form.label "Year starting school (select one):" %>
              <%= form.select :yearStartingSchool, [ 'Sept. 2018 - May 2019', 'Sept. 2019 - May 2020',
                'Sept. 2020 - May 2021', 'Sept. 2021 - May 2022',
                'Sept. 2022 - May 2023', 'Sept. 2023 - May 2024' ], class: 'form-control', id: :athlete_yearStartingSchool  %>
            </div>

            <div class="form-group">
              <%= form.label "Active" %>
              <%= form.check_box :active, class: 'form-control', id: :athlete_active %>
            </div>
      </div>
    </div>

  <h2> Contact Information </h2>
  <div class="row">
     <div class="col-md-6">
       <p>Guidelines for new contact information</p>
       <ul>
         <li>Please enter both a first and last name.</li>
         <li>Please make sure the year an athlete intends to start school is correct.</li>
         <li>Make sure you check the box for active.</li>
       </ul>
     </div>
     <div class="col-md-6">
       <%= form.fields_for :contact do |contactForm| %>
            <div class="form-group">
              <%= contactForm.label "Email" %>
              <%= contactForm.text_field :email, class: 'form-control', id: :contact_email %>
            </div>

            <div class="form-group">
              <%= contactForm.label "Phone" %>
              <%= contactForm.text_field :phone, class: 'form-control', id: :contact_phone %>
            </div>
        <% end %>
      </div>
    </div>


    <h2> Address Information </h2>
    <div class="row">
       <div class="col-md-6">
         <p>Guidelines for new address information</p>
         <ul>
           <li>Please enter both a first and last name.</li>
           <li>Please make sure the year an athlete intends to start school is correct.</li>
           <li>Make sure you check the box for active.</li>
         </ul>
       </div>
       <div class="col-md-6">
         <%= form.fields_for :address do |addressForm| %>
            <div class="form-group">
              <%= addressForm.label "Street" %>
              <%= addressForm.text_field :street, class: 'form-control', id: :address_street %>
            </div>

            <div class="form-group">
              <%= addressForm.label "Street2" %>
              <%= addressForm.text_field :street2, class: 'form-control', id: :address_street2 %>
            </div>

            <div class="form-group">
              <%= addressForm.label "City" %>
              <%= addressForm.text_field :city, class: 'form-control', id: :address_city %>
            </div>

            <div class="form-group">
              <%= addressForm.label "State" %>
              <%= addressForm.text_field :state, class: 'form-control', id: :address_state %>
            </div>

            <div class="form-group">
              <%= addressForm.label "Zip/Postal Code" %>
              <%= addressForm.text_field :zip, class: 'form-control', id: :address_zip %>
            </div>

            <div class="form-group">
              <%= addressForm.label "Country" %>
              <%= addressForm.text_field :country, class: 'form-control', id: :address_country %>
            </div>

         <% end %>
      </div>
    </div>

    <h2> Current Address Information </h2>
    <div class="row">
       <div class="col-md-6">
         <p>Guidelines for new address information</p>
         <ul>
           <li>Please enter both a first and last name.</li>
           <li>Please make sure the year an athlete intends to start school is correct.</li>
           <li>Make sure you check the box for active.</li>
         </ul>
       </div>
       <div class="col-md-6">
         <%= form.fields_for :current_address do |current_addressForm| %>
            <div class="form-group">
              <%= current_addressForm.label "Street" %>
              <%= current_addressForm.text_field :street, class: 'form-control', id: :current_address_street %>
            </div>

            <div class="form-group">
              <%= current_addressForm.label "Street2" %>
              <%= current_addressForm.text_field :street2, class: 'form-control', id: :current_address_street2 %>
            </div>

            <div class="form-group">
              <%= current_addressForm.label "City" %>
              <%= current_addressForm.text_field :city, class: 'form-control', id: :current_address_city %>
            </div>

            <div class="form-group">
              <%= current_addressForm.label "State" %>
              <%= current_addressForm.text_field :state, class: 'form-control', id: :current_address_state %>
            </div>

            <div class="form-group">
              <%= current_addressForm.label "Zip/Postal Code" %>
              <%= current_addressForm.text_field :zip, class: 'form-control', id: :current_address_zip %>
            </div>

            <div class="form-group">
              <%= current_addressForm.label "Country" %>
              <%= current_addressForm.text_field :country, class: 'form-control', id: :current_address_country %>
            </div>

         <% end %>
      </div>
    </div>

    <h2> Academic Information </h2>
    <div class="row">
       <div class="col-md-6">
         <p>Guidelines for new address information</p>
         <ul>
           <li>Please enter both a first and last name.</li>
           <li>Please make sure the year an athlete intends to start school is correct.</li>
           <li>Make sure you check the box for active.</li>
         </ul>
       </div>
       <div class="col-md-6">
         <%= form.fields_for :academic do |academicForm| %>
            <div class="form-group">
              <%= academicForm.label "School Name" %>
              <%= academicForm.text_field :schoolName, class: 'form-control', id: :academic_schoolName %>
            </div>

            <div class="form-group">
              <%= academicForm.label "Phone" %>
              <%= academicForm.text_field :phone, class: 'form-control', id: :academic_phone %>
            </div>

            <div class="form-group">
              <%= academicForm.label "SAT Math" %>
              <%= academicForm.text_field :satMath, class: 'form-control', id: :academic_satMath %>
            </div>

            <div class="form-group">
              <%= academicForm.label "SAT English" %>
              <%= academicForm.text_field :satEnglish, class: 'form-control', id: :academic_satEnglish %>
            </div>

            <div class="form-group">
              <%= academicForm.label "SAT Total" %>
              <%= academicForm.text_field :satTotal, class: 'form-control', id: :academic_satTotal %>
            </div>

            <div class="form-group">
              <%= academicForm.label "ACT Total" %>
              <%= academicForm.text_field :actTotal, class: 'form-control', id: :academic_actTotal %>
            </div>

            <div class="form-group">
              <%= academicForm.label "GPA" %>
              <%= academicForm.text_field :gpa, class: 'form-control', id: :academic_gpa %>
            </div>

            <div class="form-group">
              <%= academicForm.label "GPA Scale" %>
              <%= academicForm.text_field :gpaScale, class: 'form-control', id: :academic_gpaScale %>
            </div>

            <div class="form-group">
              <%= academicForm.label "Class Rank" %>
              <%= academicForm.text_field :classRank, class: 'form-control', id: :academic_classRank %>
            </div>

            <div class="form-group">
              <%= academicForm.label "Class Size" %>
              <%= academicForm.text_field :classSize, class: 'form-control', id: :academic_classSize %>
            </div>

            <div class="form-group">
              <%= academicForm.label "Academic Notes" %>
              <%= academicForm.text_field :notes, class: 'form-control', id: :academic_notes %>
            </div>

         <% end %>
      </div>
    </div>

    <h2> Parent 1 Contact Information </h2>
    <div class="row">
       <div class="col-md-6">
         <p>Guidelines for new Parent 1 contact information</p>
         <ul>
           <li>Please enter both a first and last name.</li>
           <li>Please make sure the year an athlete intends to start school is correct.</li>
           <li>Make sure you check the box for active.</li>
         </ul>
       </div>
       <div class="col-md-6">
         <%= form.fields_for :mother_contact do |mother_contactForm| %>
            <div class="form-group">
              <%= mother_contactForm.label "First Name" %>
              <%= mother_contactForm.text_field :firstName, class: 'form-control', id: :mother_contact_firstName %>
            </div>

            <div class="form-group">
              <%= mother_contactForm.label "Last Name" %>
              <%= mother_contactForm.text_field :lastName, class: 'form-control', id: :mother_contact_lastName %>
            </div>

            <div class="form-group">
              <%= mother_contactForm.label "Email" %>
              <%= mother_contactForm.text_field :email, class: 'form-control', id: :mother_contact_email %>
            </div>

            <div class="form-group">
              <%= mother_contactForm.label "Phone" %>
              <%= mother_contactForm.text_field :phone, class: 'form-control', id: :mother_contact_phone %>
            </div>

         <% end %>
      </div>
    </div>

    <h2> Parent 1 Address Information </h2>
    <div class="row">
       <div class="col-md-6">
         <p>Guidelines for new Parent 1 address information</p>
         <ul>
           <li>Please enter both a first and last name.</li>
           <li>Please make sure the year an athlete intends to start school is correct.</li>
           <li>Make sure you check the box for active.</li>
         </ul>
       </div>
       <div class="col-md-6">
         <%= form.fields_for :mother_address do |mother_addressForm| %>
            <div class="form-group">
              <%= mother_addressForm.label "Street" %>
              <%= mother_addressForm.text_field :street, class: 'form-control', id: :mother_address_street %>
            </div>

            <div class="form-group">
              <%= mother_addressForm.label "Street2" %>
              <%= mother_addressForm.text_field :street2, class: 'form-control', id: :mother_address_street2 %>
            </div>

            <div class="form-group">
              <%= mother_addressForm.label "City" %>
              <%= mother_addressForm.text_field :city, class: 'form-control', id: :mother_address_city %>
            </div>

            <div class="form-group">
              <%= mother_addressForm.label "State" %>
              <%= mother_addressForm.text_field :state, class: 'form-control', id: :mother_address_state %>
            </div>

            <div class="form-group">
              <%= mother_addressForm.label "Zip/Postal Code" %>
              <%= mother_addressForm.text_field :zip, class: 'form-control', id: :mother_address_zip %>
            </div>

            <div class="form-group">
              <%= mother_addressForm.label "Country" %>
              <%= mother_addressForm.text_field :country, class: 'form-control', id: :mother_address_country %>
            </div>

         <% end %>
      </div>
    </div>

    <h2> Parent 2 Contact Information </h2>
    <div class="row">
       <div class="col-md-6">
         <p>Guidelines for new Parent 2 contact information</p>
         <ul>
           <li>Please enter both a first and last name.</li>
           <li>Please make sure the year an athlete intends to start school is correct.</li>
           <li>Make sure you check the box for active.</li>
         </ul>
       </div>
       <div class="col-md-6">
         <%= form.fields_for :father_contact do |father_contactForm| %>
            <div class="form-group">
              <%= father_contactForm.label "First Name" %>
              <%= father_contactForm.text_field :firstName, class: 'form-control', id: :father_contact_firstName %>
            </div>

            <div class="form-group">
              <%= father_contactForm.label "Last Name" %>
              <%= father_contactForm.text_field :lastName, class: 'form-control', id: :father_contact_lastName %>
            </div>

            <div class="form-group">
              <%= father_contactForm.label "Email" %>
              <%= father_contactForm.text_field :email, class: 'form-control', id: :father_contact_email %>
            </div>

            <div class="form-group">
              <%= father_contactForm.label "Phone" %>
              <%= father_contactForm.text_field :phone, class: 'form-control', id: :father_contact_phone %>
            </div>

         <% end %>
      </div>
    </div>

    <h2> Parent 2 Address Information </h2>
    <div class="row">
       <div class="col-md-6">
         <p>Guidelines for new Parent 2 address information</p>
         <ul>
           <li>Please enter both a first and last name.</li>
           <li>Please make sure the year an athlete intends to start school is correct.</li>
           <li>Make sure you check the box for active.</li>
         </ul>
       </div>
       <div class="col-md-6">
         <%= form.fields_for :father_address do |father_addressForm| %>
            <div class="form-group">
              <%= father_addressForm.label "Street" %>
              <%= father_addressForm.text_field :street, class: 'form-control', id: :father_address_street %>
            </div>

            <div class="form-group">
              <%= father_addressForm.label "Street2" %>
              <%= father_addressForm.text_field :street2, class: 'form-control', id: :father_address_street2 %>
            </div>

            <div class="form-group">
              <%= father_addressForm.label "City" %>
              <%= father_addressForm.text_field :city, class: 'form-control', id: :father_address_city %>
            </div>

            <div class="form-group">
              <%= father_addressForm.label "State" %>
              <%= father_addressForm.text_field :state, class: 'form-control', id: :father_address_state %>
            </div>

            <div class="form-group">
              <%= father_addressForm.label "Zip/Postal Code" %>
              <%= father_addressForm.text_field :zip, class: 'form-control', id: :father_address_zip %>
            </div>

            <div class="form-group">
              <%= father_addressForm.label "Country" %>
              <%= father_addressForm.text_field :country, class: 'form-control', id: :father_address_country %>
            </div>

         <% end %>
      </div>
    </div>

    <h2> Counselor Contact Information </h2>
    <div class="row">
       <div class="col-md-6">
         <p>Guidelines for new Counselor contact information</p>
         <ul>
           <li>Please enter both a first and last name.</li>
           <li>Please make sure the year an athlete intends to start school is correct.</li>
           <li>Make sure you check the box for active.</li>
         </ul>
       </div>
       <div class="col-md-6">
         <%= form.fields_for :counselor_contact do |counselor_contactForm| %>
            <div class="form-group">
              <%= counselor_contactForm.label "First Name" %>
              <%= counselor_contactForm.text_field :firstName, class: 'form-control', id: :counselor_contact_firstName %>
            </div>

            <div class="form-group">
              <%= counselor_contactForm.label "Last Name" %>
              <%= counselor_contactForm.text_field :lastName, class: 'form-control', id: :counselor_contact_lastName %>
            </div>

            <div class="form-group">
              <%= counselor_contactForm.label "Email" %>
              <%= counselor_contactForm.text_field :email, class: 'form-control', id: :counselor_contact_email %>
            </div>

            <div class="form-group">
              <%= counselor_contactForm.label "Phone" %>
              <%= counselor_contactForm.text_field :phone, class: 'form-control', id: :counselor_contact_phone %>
            </div>

         <% end %>
      </div>
    </div>

    <h2> School Address Information </h2>
    <div class="row">
       <div class="col-md-6">
         <p>Guidelines for new School address information</p>
         <ul>
           <li>Please enter both a first and last name.</li>
           <li>Please make sure the year an athlete intends to start school is correct.</li>
           <li>Make sure you check the box for active.</li>
         </ul>
       </div>
       <div class="col-md-6">
         <%= form.fields_for :school_address do |school_addressForm| %>
            <div class="form-group">
              <%= school_addressForm.label "Street" %>
              <%= school_addressForm.text_field :street, class: 'form-control', id: :school_address_street %>
            </div>

            <div class="form-group">
              <%= school_addressForm.label "Street2" %>
              <%= school_addressForm.text_field :street2, class: 'form-control', id: :school_address_street2 %>
            </div>

            <div class="form-group">
              <%= school_addressForm.label "City" %>
              <%= school_addressForm.text_field :city, class: 'form-control', id: :school_address_city %>
            </div>

            <div class="form-group">
              <%= school_addressForm.label "State" %>
              <%= school_addressForm.text_field :state, class: 'form-control', id: :school_address_state %>
            </div>

            <div class="form-group">
              <%= school_addressForm.label "Zip/Postal Code" %>
              <%= school_addressForm.text_field :zip, class: 'form-control', id: :school_address_zip %>
            </div>

            <div class="form-group">
              <%= school_addressForm.label "Country" %>
              <%= school_addressForm.text_field :country, class: 'form-control', id: :school_address_country %>
            </div>

         <% end %>
      </div>
    </div>

    <h2> Sibling Information </h2>
    <div class="row">
       <div class="col-md-6">
         <p>Guidelines for new Sibling information</p>
         <ul>
           <li>Please enter both a first and last name.</li>
           <li>Please make sure the year an athlete intends to start school is correct.</li>
           <li>Make sure you check the box for active.</li>
         </ul>
       </div>
       <div class="col-md-6">
         <%= form.fields_for :sibling do |siblingForm| %>
            <div class="form-group">
              <%= siblingForm.label "Sibling Information" %>
              <%= siblingForm.text_field :siblingNames, class: 'form-control', id: :siblingNames %>
            </div>
         <% end %>
      </div>
    </div>


  <div class="form-group">
    <%= form.submit "Save", class: 'btn btn-success'  %>
  </div>

<% end %>
