
<div class="col-md-8">
  <h3><%= "#{ @athlete.firstName + ' ' + @athlete.middleName + ' ' + @athlete.lastName }" %> - <%= @athlete.active ? "Active" : "Inactive" %></h3>
</div>

<div class="col-md-4">
  <br />
  <%= link_to "Edit", edit_athlete_path(@athlete), class: 'btn btn-success' %>
  <%= link_to "Add A Sport", new_athlete_sport_path(@athlete), class: 'btn btn-success' %>
  <%= link_to "Delete Athlete", @athlete, method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure you want to delete this athlete?'} %>
</div>

<div class="col-md-7">
  <% @athlete.preferredName.nil?  ?  @athlete.preferredName = "None" : @athlete.preferredName %>
  <h5 class="col-md-5 record-title"><%= "#{ 'Preferred Name:' }"%></h5> <h5 class="col-md-7 record-data"><%= "#{ @athlete.preferredName  }"  %></h5>
  <h5 class="col-md-5 record-title"><%= "#{ 'Planning to Start School In:' }"%></h5> <h5 class="col-md-7 record-data"><%= "#{ @athlete.yearStartingSchool  }" %></h5>
</div>

<div class="col-md-12">
  <h1> </h1>
  <h4 class="record-division">Athlete's Sports</h4><h6 class="record-data"> (Click the soprt name to access sport specific data)</h6>
  <%= render @athlete.sports %>
</div>

<div class="col-md-12">
  <h1> </h1>
  <h4 class="record-division">Athlete's Contact Information</h4>
  <%= render @athlete.contact %>
</div>

<div class="col-md-12">
  <h3> </h3>
  <%= render @athlete.address %>
</div>

<div class="col-md-12">
  <h3> </h3>
  <%= render @athlete.current_address %>
</div>

<div class="col-md-12">
  <h1> </h1>
  <h4 class="record-division">Academic Information</h4>
</div>

<div class="col-md-12">
  <h3> </h3>
  <%= render @athlete.academic %>
</div>

<div class="col-md-12">
  <h1> </h1>
  <h4 class="record-division">Parent 1's Contact Information</h4>
  <%= render @athlete.mother_contact %>
</div>

<div class="col-md-12">
  <h3> </h3>
  <%= render @athlete.mother_address %>
</div>

<div class="col-md-12">
  <h1> </h1>
  <h4 class="record-division">Parent 2's Contact Information</h4>
  <%= render @athlete.father_contact %>
</div>

<div class="col-md-12">
  <h3> </h3>
  <%= render @athlete.father_address %>
</div>

<div class="col-md-12">
  <h1> </h1>
  <h4 class="record-division">School Contact Information</h4>
  <%= render @athlete.counselor_contact %>
</div>

<div class="col-md-12">
  <h3> </h3>
  <%= render @athlete.school_address %>
</div>

<div class="col-md-12">
  <h1> </h1>
  <h4 class="record-division">Sibling Information</h4>
</div>

<div class="col-md-12">
  <h3> </h3>
  <%= render @athlete.sibling %>
</div>
