
<div class="media">
  <div class="media-body">
     <div class="row">
        <div class="col-md-9">
          <h3><span class="record-data"><%= "#{ @athlete.firstName + ' ' + @athlete.middleName + ' ' + @athlete.lastName }" %></span> -
            <span class="sport-names"><%= @sport.sportName %></span> - <span class="record-data"><%= @sport.active ? "Active" : "Inactive" %></span></h3>
        </div>
        <div class="col-md-3">
          <h3>
              <h3><%= @Testingcount %></h3>
          </h3>
        </div>
        <div class="col-md-12">
           <h1> </h1>
           <h3 class="record-division">School Choices</h3>
           <div class="media">
               <div class="media-body">
                   <% @divisionNames.each do |division| %>
                      <div class="col-md-12 record-data"><h4 class="record-division"> <%= "#{ division.title  }" %> </h4>

                        <% @myteams.each do |item| %>
                          <% if item.division === division.name %>
                             <%= "#{ item.collegeName + " - " }" %><span class="sport-names"><%= item.public ? "Open to View" : "Closed" %></span><br>
                          <% end %>
                        <% end %>

                      </div>
                   <% end %>
               </div>
           </div>
        </div>


    </div>
  </div>
</div>
