<div class="media">
   <div class="media-body">
     <h5 class="col-md-2 record-title"><%= "#{ 'Counselor First Name:' }"%></h5> <h5 class="col-md-10 record-data"><%= "#{ @athlete.counselor_contact.firstName  }"  %></h5>
     <h5 class="col-md-2 record-title"><%= "#{ 'Counselor Last Name:' }"%></h5> <h5 class="col-md-10 record-data"><%= "#{ @athlete.counselor_contact.lastName  }" %></h5>
     <h5 class="col-md-2 record-title"><%= "#{ 'Counselor Email:' }"%></h5> <h5 class="col-md-10 record-data"><%= "#{ @athlete.counselor_contact.email }" %></h5>
     <h5 class="col-md-2 record-title"><%= "#{ 'Counselor Phone:' }"%></h5> <h5 class="col-md-10 record-data"><%= "#{ @athlete.counselor_contact.phone  }" %></h5>
   </div>
</div>
