<div class="col-md-12">
  <div class="media">
     <div class="media-body">
       <h4 class="col-md-12 record-data"><%= "#{ 'Best Optional Dives:' }"%></h4>
       <div class="row">
         <h5 class="col-md-12 record-division"><%= "#{ '1 Meter' }"%></h5>
       </div>
       <div class="row">
         <h5 class="col-md-2 record-title"><%= "#{ 'Dive 1 Score:' }"%></h5> <h5 class="col-md-1 record-data"><%= "#{ @sport.diving.oneD1score  }"  %></h5>
         <h5 class="col-md-2 record-title"><%= "#{ 'Dive Discription:' }"%></h5> <h5 class="col-md-4 record-data"><%= "#{ @sport.diving.oneD1name  }" %></h5>
         <h5 class="col-md-1 record-title"><%= "#{ 'Date:' }"%></h5> <h5 class="col-md-1 record-data"><%= "#{ @sport.diving.oneD1date }" %></h5>
       </div>
       <div class="row">
         <h5 class="col-md-2 record-title"><%= "#{ 'Dive 2 Score:' }"%></h5> <h5 class="col-md-1 record-data"><%= "#{ @sport.diving.oneD2score  }" %></h5>
         <h5 class="col-md-2 record-title"><%= "#{ 'Dive Discription:' }"%></h5> <h5 class="col-md-4 record-data"><%= "#{ @sport.diving.oneD2name  }" %></h5>
         <h5 class="col-md-1 record-title"><%= "#{ 'Date:' }"%></h5> <h5 class="col-md-1 record-data"><%= "#{ @sport.diving.oneD2date }" %></h5>
       </div>
       <div class="row">
         <h5 class="col-md-2 record-title"><%= "#{ 'Dive 3 Score:' }"%></h5> <h5 class="col-md-1 record-data"><%= "#{ @sport.diving.oneD3score }" %></h5>
         <h5 class="col-md-2 record-title"><%= "#{ 'Dive Discription:' }"%></h5> <h5 class="col-md-4 record-data"><%= "#{ @sport.diving.oneD3name }" %></h5>
         <h5 class="col-md-1 record-title"><%= "#{ 'Date:' }"%></h5> <h5 class="col-md-1 record-data"><%= "#{ @sport.diving.oneD3date }" %></h5>
       </div>
       <div class="row">
         <h5 class="col-md-2 record-title"><%= "#{ 'Dive 4 Score:' }"%></h5> <h5 class="col-md-1 record-data"><%= "#{ @sport.diving.oneD4score  }" %></h5>
         <h5 class="col-md-2 record-title"><%= "#{ 'Dive Discription:' }"%></h5> <h5 class="col-md-4 record-data"><%= "#{ @sport.diving.oneD4name  }" %></h5>
         <h5 class="col-md-1 record-title"><%= "#{ 'Date:' }"%></h5> <h5 class="col-md-1 record-data"><%= "#{ @sport.diving.oneD4date }" %></h5>
       </div>
       <div class="row">
         <h5 class="col-md-2 record-title"><%= "#{ 'Dive 5 Score:' }"%></h5> <h5 class="col-md-1 record-data"><%= "#{ @sport.diving.oneD5score  }" %></h5>
         <h5 class="col-md-2 record-title"><%= "#{ 'Dive Discription:' }"%></h5> <h5 class="col-md-4 record-data"><%= "#{ @sport.diving.oneD5name  }" %></h5>
         <h5 class="col-md-1 record-title"><%= "#{ 'Date:' }"%></h5> <h5 class="col-md-1 record-data"><%= "#{ @sport.diving.oneD5date }" %></h5>
       </div>
       <div class="row">
         <h5 class="col-md-2 record-title"><%= "#{ 'Dive 6 Score:' }"%></h5> <h5 class="col-md-1 record-data"><%= "#{ @sport.diving.oneD6score  }" %></h5>
         <h5 class="col-md-2 record-title"><%= "#{ 'Dive Discription:' }"%></h5> <h5 class="col-md-4 record-data"><%= "#{ @sport.diving.oneD6name  }" %></h5>
         <h5 class="col-md-1 record-title"><%= "#{ 'Date:' }"%></h5> <h5 class="col-md-1 record-data"><%= "#{ @sport.diving.oneD6date}" %></h5>
       </div>
       <div class="row">
         <h5 class="col-md-12 record-division"><%= "#{ '3 Meter' }"%></h5>
       </div>
       <div class="row">
         <h5 class="col-md-2 record-title"><%= "#{ 'Dive 1 Score:' }"%></h5> <h5 class="col-md-1 record-data"><%= "#{ @sport.diving.threeD1score   }"  %></h5>
         <h5 class="col-md-2 record-title"><%= "#{ 'Dive Discription:' }"%></h5> <h5 class="col-md-4 record-data"><%= "#{ @sport.diving.threeD1name  }" %></h5>
         <h5 class="col-md-1 record-title"><%= "#{ 'Date:' }"%></h5> <h5 class="col-md-1 record-data"><%= "#{ @sport.diving.threeD1date }" %></h5>
       </div>
       <div class="row">
         <h5 class="col-md-2 record-title"><%= "#{ 'Dive 2 Score:' }"%></h5> <h5 class="col-md-1 record-data"><%= "#{ @sport.diving.threeD2score   }" %></h5>
         <h5 class="col-md-2 record-title"><%= "#{ 'Dive Discription:' }"%></h5> <h5 class="col-md-4 record-data"><%= "#{ @sport.diving.threeD2name  }" %></h5>
         <h5 class="col-md-1 record-title"><%= "#{ 'Date:' }"%></h5> <h5 class="col-md-1 record-data"><%= "#{ @sport.diving.threeD2date }" %></h5>
       </div>
       <div class="row">
         <h5 class="col-md-2 record-title"><%= "#{ 'Dive 3 Score:' }"%></h5> <h5 class="col-md-1 record-data"><%= "#{ @sport.diving.threeD3score   }" %></h5>
         <h5 class="col-md-2 record-title"><%= "#{ 'Dive Discription:' }"%></h5> <h5 class="col-md-4 record-data"><%= "#{ @sport.diving.threeD3name  }" %></h5>
         <h5 class="col-md-1 record-title"><%= "#{ 'Date:' }"%></h5> <h5 class="col-md-1 record-data"><%= "#{ @sport.diving.threeD3date }" %></h5>
       </div>
       <div class="row">
         <h5 class="col-md-2 record-title"><%= "#{ 'Dive 4 Score:' }"%></h5> <h5 class="col-md-1 record-data"><%= "#{ @sport.diving.threeD4score   }"  %></h5>
         <h5 class="col-md-2 record-title"><%= "#{ 'Dive Discription:' }"%></h5> <h5 class="col-md-4 record-data"><%= "#{ @sport.diving.threeD4name  }" %></h5>
         <h5 class="col-md-1 record-title"><%= "#{ 'Date:' }"%></h5> <h5 class="col-md-1 record-data"><%= "#{ @sport.diving.threeD4date }" %></h5>
       </div>
       <div class="row">
         <h5 class="col-md-2 record-title"><%= "#{ 'Dive 5 Score:' }"%></h5> <h5 class="col-md-1 record-data"><%= "#{ @sport.diving.threeD5score   }" %></h5>
         <h5 class="col-md-2 record-title"><%= "#{ 'Dive Discription:' }"%></h5> <h5 class="col-md-4 record-data"><%= "#{ @sport.diving.threeD5name  }" %></h5>
         <h5 class="col-md-1 record-title"><%= "#{ 'Date:' }"%></h5> <h5 class="col-md-1 record-data"><%= "#{ @sport.diving.threeD5date }" %></h5>
       </div>
       <div class="row">
         <h5 class="col-md-2 record-title"><%= "#{ 'Dive 6 Score:' }"%></h5> <h5 class="col-md-1 record-data"><%= "#{ @sport.diving.threeD6score  }" %></h5>
         <h5 class="col-md-2 record-title"><%= "#{ 'Dive Discription:' }"%></h5> <h5 class="col-md-4 record-data"><%= "#{ @sport.diving.threeD6name  }" %></h5>
         <h5 class="col-md-1 record-title"><%= "#{ 'Date:' }"%></h5> <h5 class="col-md-1 record-data"><%= "#{ @sport.diving.threeD6date }" %></h5>
       </div>
       <div class="row">
         <h5 class="col-md-12 record-division"><%= "#{ '10 Meter' }"%></h5>
       </div>
       <div class="row">
         <h5 class="col-md-2 record-title"><%= "#{ 'Dive 1 Score:' }"%></h5> <h5 class="col-md-1 record-data"><%= "#{ @sport.diving.tenD1score  }"  %></h5>
         <h5 class="col-md-2 record-title"><%= "#{ 'Dive Discription:' }"%></h5> <h5 class="col-md-4 record-data"><%= "#{ @sport.diving.tenD1name  }" %></h5>
         <h5 class="col-md-1 record-title"><%= "#{ 'Date:' }"%></h5> <h5 class="col-md-1 record-data"><%= "#{ @sport.diving.tenD1date }" %></h5>
       </div>
       <div class="row">
         <h5 class="col-md-2 record-title"><%= "#{ 'Dive 2 Score:' }"%></h5> <h5 class="col-md-1 record-data"><%= "#{ @sport.diving.tenD2score  }" %></h5>
         <h5 class="col-md-2 record-title"><%= "#{ 'Dive Discription:' }"%></h5> <h5 class="col-md-4 record-data"><%= "#{ @sport.diving.tenD2name  }" %></h5>
         <h5 class="col-md-1 record-title"><%= "#{ 'Date:' }"%></h5> <h5 class="col-md-1 record-data"><%= "#{ @sport.diving.tenD2date}" %></h5>
       </div>
       <div class="row">
         <h5 class="col-md-2 record-title"><%= "#{ 'Dive 3 Score:' }"%></h5> <h5 class="col-md-1 record-data"><%= "#{ @sport.diving.tenD3score  }" %></h5>
         <h5 class="col-md-2 record-title"><%= "#{ 'Dive Discription:' }"%></h5> <h5 class="col-md-4 record-data"><%= "#{ @sport.diving.tenD3name  }" %></h5>
         <h5 class="col-md-1 record-title"><%= "#{ 'Date:' }"%></h5> <h5 class="col-md-1 record-data"><%= "#{ @sport.diving.tenD3date }" %></h5>
       </div>
       <div class="row">
         <h5 class="col-md-2 record-title"><%= "#{ 'Dive 4 Score:' }"%></h5> <h5 class="col-md-1 record-data"><%= "#{ @sport.diving.tenD4score  }"  %></h5>
         <h5 class="col-md-2 record-title"><%= "#{ 'Dive Discription:' }"%></h5> <h5 class="col-md-4 record-data"><%= "#{ @sport.diving.tenD4name  }" %></h5>
         <h5 class="col-md-1 record-title"><%= "#{ 'Date:' }"%></h5> <h5 class="col-md-1 record-data"><%= "#{ @sport.diving.tenD4date  }" %></h5>
       </div>
       <div class="row">
         <h5 class="col-md-2 record-title"><%= "#{ 'Dive 5 Score:' }"%></h5> <h5 class="col-md-1 record-data"><%= "#{ @sport.diving.tenD5score  }" %></h5>
         <h5 class="col-md-2 record-title"><%= "#{ 'Dive Discription:' }"%></h5> <h5 class="col-md-4 record-data"><%= "#{ @sport.diving.tenD5name  }" %></h5>
         <h5 class="col-md-1 record-title"><%= "#{ 'Date:' }"%></h5> <h5 class="col-md-1 record-data"><%= "#{ @sport.diving.tenD5date }" %></h5>
       </div>
       <div class="row">
         <h5 class="col-md-2 record-title"><%= "#{ 'Dive 6 Score:' }"%></h5> <h5 class="col-md-1 record-data"><%= "#{ @sport.diving.tenD6score  }" %></h5>
         <h5 class="col-md-2 record-title"><%= "#{ 'Dive Discription:' }"%></h5> <h5 class="col-md-4 record-data"><%= "#{ @sport.diving.tenD6name  }" %></h5>
         <h5 class="col-md-1 record-title"><%= "#{ 'Date:' }"%></h5> <h5 class="col-md-1 record-data"><%= "#{ @sport.diving.tenD6date }" %></h5>
       </div>
     </div>
  </div>
</div>
