
<div class="row">
   <div>
      <h4 class="col-md-12 record-data"><%= "#{ '1 Meter' }"%></h4>
   </div>

  <div class="form-group">
     <h5 class="col-md-2 record-data"><%= divingForm.text_field :oneD1score, placeholder: "Score Dive 1", class: 'form-control', id: :diving_oneD1score %></h5>
     <h5 class="col-md-8 record-data"><%= divingForm.text_field :oneD1name, placeholder: "Discription/Name Dive 1", class: 'form-control', id: :diving_oneD1name %></h5>
     <h5 class="col-md-2 record-data"><%= divingForm.text_field :oneD1date, placeholder: "Date Dive 1", class: 'form-control', id: :diving_oneD1date %></h5>
   </div>

   <div class="form-group">
     <h5 class="col-md-2 record-data"><%= divingForm.text_field :oneD2score, placeholder: "Score Dive 2", class: 'form-control', id: :diving_oneD2score %></h5>
     <h5 class="col-md-8 record-data"><%= divingForm.text_field :oneD2name, placeholder: "Discription/Name Dive 2", class: 'form-control', id: :diving_oneD2name %></h5>
     <h5 class="col-md-2 record-data"><%= divingForm.text_field :oneD2date, placeholder: "Date Dive 2", class: 'form-control', id: :diving_oneD2date %></h5>
   </div>

   <div class="form-group">
     <h5 class="col-md-2 record-data"><%= divingForm.text_field :oneD3score, placeholder: "Score Dive 3", class: 'form-control', id: :diving_oneD3score %></h5>
     <h5 class="col-md-8 record-data"><%= divingForm.text_field :oneD3name, placeholder: "Discription/Name Dive 3", class: 'form-control', id: :diving_oneD3name %></h5>
     <h5 class="col-md-2 record-data"><%= divingForm.text_field :oneD3date, placeholder: "Date Dive 3", class: 'form-control', id: :diving_oneD3date %></h5>
   </div>

   <div class="form-group">
     <h5 class="col-md-2 record-data"><%= divingForm.text_field :oneD4score, placeholder: "Score Dive 4", class: 'form-control', id: :diving_oneD4score %></h5>
     <h5 class="col-md-8 record-data"><%= divingForm.text_field :oneD4name, placeholder: "Discription/Name Dive 4", class: 'form-control', id: :diving_oneD4name %></h5>
     <h5 class="col-md-2 record-data"><%= divingForm.text_field :oneD4date, placeholder: "Date Dive 4", class: 'form-control', id: :diving_oneD4date %></h5>
   </div>

   <div class="form-group">
     <h5 class="col-md-2 record-data"><%= divingForm.text_field :oneD5score, placeholder: "Score Dive 5", class: 'form-control', id: :diving_oneD5score %></h5>
     <h5 class="col-md-8 record-data"><%= divingForm.text_field :oneD5name, placeholder: "Discription/Name Dive 5", class: 'form-control', id: :diving_oneD5name %></h5>
     <h5 class="col-md-2 record-data"><%= divingForm.text_field :oneD5date, placeholder: "Date Dive 5", class: 'form-control', id: :diving_oneD5date %></h5>
   </div>

   <div class="form-group">
     <h5 class="col-md-2 record-data"><%= divingForm.text_field :oneD6score, placeholder: "Score Dive 6", class: 'form-control', id: :diving_oneD6score %></h5>
     <h5 class="col-md-8 record-data"><%= divingForm.text_field :oneD6name, placeholder: "Discription/Name Dive 6", class: 'form-control', id: :diving_oneD6name %></h5>
     <h5 class="col-md-2 record-data"><%= divingForm.text_field :oneD6date, placeholder: "Date Dive 6", class: 'form-control', id: :diving_oneD6date %></h5>
   </div>

   <div>
     <h4 class="col-md-12 record-data"><%= "#{ '3 Meter' }"%></h4>
   </div>

   <div class="form-group">
     <h5 class="col-md-2 record-data"><%= divingForm.text_field :threeD1score, placeholder: "Score Dive 1", class: 'form-control', id: :diving_threeD1score %></h5>
     <h5 class="col-md-8 record-data"><%= divingForm.text_field :threeD1name, placeholder: "Discription/Name Dive 1", class: 'form-control', id: :diving_threeD1name %></h5>
     <h5 class="col-md-2 record-data"><%= divingForm.text_field :threeD1date, placeholder: "Date Dive 1", class: 'form-control', id: :diving_threeD1date %></h5>
   </div>

   <div class="form-group">
     <h5 class="col-md-2 record-data"><%= divingForm.text_field :threeD2score, placeholder: "Score Dive 2", class: 'form-control', id: :diving_threeD2score %></h5>
     <h5 class="col-md-8 record-data"><%= divingForm.text_field :threeD2name, placeholder: "Discription/Name Dive 2", class: 'form-control', id: :diving_threeD2name %></h5>
     <h5 class="col-md-2 record-data"><%= divingForm.text_field :threeD2date, placeholder: "Date Dive 2", class: 'form-control', id: :diving_threeD2date %></h5>
   </div>

   <div class="form-group">
     <h5 class="col-md-2 record-data"><%= divingForm.text_field :threeD3score, placeholder: "Score Dive 3", class: 'form-control', id: :diving_threeD3score %></h5>
     <h5 class="col-md-8 record-data"><%= divingForm.text_field :threeD3name, placeholder: "Discription/Name Dive 3", class: 'form-control', id: :diving_threeD3name %></h5>
     <h5 class="col-md-2 record-data"><%= divingForm.text_field :threeD3date, placeholder: "Date Dive 3", class: 'form-control', id: :diving_threeD3date %></h5>
   </div>

   <div class="form-group">
     <h5 class="col-md-2 record-data"><%= divingForm.text_field :threeD4score, placeholder: "Score Dive 4", class: 'form-control', id: :diving_threeD4score %></h5>
     <h5 class="col-md-8 record-data"><%= divingForm.text_field :threeD4name, placeholder: "Discription/Name Dive 4", class: 'form-control', id: :diving_threeD4name %></h5>
     <h5 class="col-md-2 record-data"><%= divingForm.text_field :threeD4date, placeholder: "Date Dive 4", class: 'form-control', id: :diving_threeD4date %></h5>
   </div>

   <div class="form-group">
     <h5 class="col-md-2 record-data"><%= divingForm.text_field :threeD5score, placeholder: "Score Dive 5", class: 'form-control', id: :diving_threeD5score %></h5>
     <h5 class="col-md-8 record-data"><%= divingForm.text_field :threeD5name, placeholder: "Discription/Name Dive 5", class: 'form-control', id: :diving_threeD5name %></h5>
     <h5 class="col-md-2 record-data"><%= divingForm.text_field :threeD5date, placeholder: "Date Dive 5", class: 'form-control', id: :diving_threeD5date %></h5>
   </div>

   <div class="form-group">
     <h5 class="col-md-2 record-data"><%= divingForm.text_field :threeD6score, placeholder: "Score Dive 6", class: 'form-control', id: :diving_threeD6score %></h5>
     <h5 class="col-md-8 record-data"><%= divingForm.text_field :threeD6name, placeholder: "Discription/Name Dive 6", class: 'form-control', id: :diving_threeD6name %></h5>
     <h5 class="col-md-2 record-data"><%= divingForm.text_field :threeD6date, placeholder: "Date Dive 6", class: 'form-control', id: :diving_threeD6date %></h5>
   </div>

   <div>
     <h4 class="col-md-12 record-data"><%= "#{ '10 Meter' }"%></h4>
   </div>

   <div class="form-group">
     <h5 class="col-md-2 record-data"><%= divingForm.text_field :tenD1score, placeholder: "Score Dive 1", class: 'form-control', id: :diving_tenD1score %></h5>
     <h5 class="col-md-8 record-data"><%= divingForm.text_field :tenD1name, placeholder: "Discription/Name Dive 1", class: 'form-control', id: :diving_tenD1name %></h5>
     <h5 class="col-md-2 record-data"><%= divingForm.text_field :tenD1date, placeholder: "Date Dive 1", class: 'form-control', id: :diving_tenD1date %></h5>
   </div>

   <div class="form-group">
     <h5 class="col-md-2 record-data"><%= divingForm.text_field :tenD2score, placeholder: "Score Dive 2", class: 'form-control', id: :diving_tenD2score %></h5>
     <h5 class="col-md-8 record-data"><%= divingForm.text_field :tenD2name, placeholder: "Discription/Name Dive 2", class: 'form-control', id: :diving_tenD2name %></h5>
     <h5 class="col-md-2 record-data"><%= divingForm.text_field :tenD2date, placeholder: "Date Dive 2", class: 'form-control', id: :diving_tenD2date %></h5>
   </div>

   <div class="form-group">
     <h5 class="col-md-2 record-data"><%= divingForm.text_field :tenD3score, placeholder: "Score Dive 3", class: 'form-control', id: :diving_tenD3score %></h5>
     <h5 class="col-md-8 record-data"><%= divingForm.text_field :tenD3name, placeholder: "Discription/Name Dive 3", class: 'form-control', id: :diving_tenD3name %></h5>
     <h5 class="col-md-2 record-data"><%= divingForm.text_field :tenD3date, placeholder: "Date Dive 3", class: 'form-control', id: :diving_tenD3date %></h5>
   </div>

   <div class="form-group">
     <h5 class="col-md-2 record-data"><%= divingForm.text_field :tenD4score, placeholder: "Score Dive 4",  class: 'form-control', id: :diving_tenD4score %></h5>
     <h5 class="col-md-8 record-data"><%= divingForm.text_field :tenD4name, placeholder: "Discription/Name Dive 4", class: 'form-control', id: :diving_tenD4name %></h5>
     <h5 class="col-md-2 record-data"><%= divingForm.text_field :tenD4date, placeholder: "Date Dive 4", class: 'form-control', id: :diving_tenD4date %></h5>
   </div>

   <div class="form-group">
     <h5 class="col-md-2 record-data"><%= divingForm.text_field :tenD5score, placeholder: "Score Dive 5",  class: 'form-control', id: :diving_tenD5score %></h5>
     <h5 class="col-md-8 record-data"><%= divingForm.text_field :tenD5name, placeholder: "Discription/Name Dive 5", class: 'form-control', id: :diving_tenD5name %></h5>
     <h5 class="col-md-2 record-data"><%= divingForm.text_field :tenD5date, placeholder: "Date Dive 5", class: 'form-control', id: :diving_tenD5date %></h5>
   </div>

   <div class="form-group">
     <h5 class="col-md-2 record-data"><%= divingForm.text_field :tenD6score, placeholder: "Score Dive 6", class: 'form-control', id: :diving_tenD6score %></h5>
     <h5 class="col-md-8 record-data"><%= divingForm.text_field :tenD6name, placeholder: "Discription/Name Dive 6", class: 'form-control', id: :diving_tenD6name %></h5>
     <h5 class="col-md-2 record-data"><%= divingForm.text_field :tenD6date, placeholder: "Date Dive 6", class: 'form-control', id: :diving_tenD6date %></h5>
   </div>

</div>
