<div class="media">
   <div class="media-body">
     <h5 class="col-md-2 record-title"><%= "#{ 'Parent 2 First Name:' }"%></h5> <h5 class="col-md-10 record-data"><%= "#{ @athlete.father_contact.firstName  }"  %></h5>
     <h5 class="col-md-2 record-title"><%= "#{ 'Parent 2 Last Name:' }"%></h5> <h5 class="col-md-10 record-data"><%= "#{ @athlete.father_contact.lastName  }" %></h5>
     <h5 class="col-md-2 record-title"><%= "#{ 'Parent 2 Email:' }"%></h5> <h5 class="col-md-10 record-data"><%= "#{ @athlete.father_contact.email }" %></h5>
     <h5 class="col-md-2 record-title"><%= "#{ 'Parent 2 Phone:' }"%></h5> <h5 class="col-md-10 record-data"><%= "#{ @athlete.father_contact.phone  }" %></h5>
   </div>
</div>
