<div class="media">
   <div class="media-body">
     <div class="row">
       <h5 class="col-md-2 record-title pad-left"><%= "#{ 'First Name:' }"%></h5> <h5 class="col-md-10 record-data"><%= "#{ @athlete.father_contact.firstName  }"  %></h5>
     </div>
     <div class="row">
       <h5 class="col-md-2 record-title pad-left"><%= "#{ 'Last Name:' }"%></h5> <h5 class="col-md-10 record-data"><%= "#{ @athlete.father_contact.lastName  }" %></h5>
     </div>
     <div class="row">
       <h5 class="col-md-2 record-title pad-left"><%= "#{ 'Email:' }"%></h5> <h5 class="col-md-4 record-data"><%= "#{ @athlete.father_contact.email }" %></h5>
       <h5 class="col-md-2 record-title pad-left"><%= "#{ 'Phone:' }"%></h5> <h5 class="col-md-4 record-data"><%= "#{ @athlete.father_contact.phone  }" %></h5>
     </div>
   </div>
</div>
