
<div class="row">
   <div class="form-group">
     <h5 class="col-md-2 record-title right-side"><%= "#{ '50 Free SCY:' }" %></h5>
     <h5 class="col-md-2 record-data"><%= swimmingForm.text_field :frSCY50, class: 'form-control', id: :swimming_frSCY50 %></h5>
   </div>

   <div class="form-group">
     <h5 class="col-md-2 record-title right-side"><%= "#{ "50 Free SCM" }"  %></h5>
     <h5 class="col-md-2 record-data"><%= swimmingForm.text_field :frSCM50, class: 'form-control', id: :swimming_frSCM50 %></h5>
   </div>

   <div class="form-group">
     <h5 class="col-md-2 record-title right-side"><%= "#{  "50 Free LCM" }" %></h5>
     <h5 class="col-md-2 record-data"><%= swimmingForm.text_field :frLCM50, class: 'form-control', id: :swimming_frLCM50 %></h5>
   </div>

   <div class="form-group">
     <h5 class="col-md-2 record-title right-side"><%= "#{  "100 Free SCY"  }" %></h5>
     <h5 class="col-md-2 record-data"><%= swimmingForm.text_field :frSCY100, class: 'form-control', id: :swimming_frSCY100 %></h5>
   </div>

   <div class="form-group">
     <h5 class="col-md-2 record-title right-side"><%= "#{ "100 Free SCM"  }" %></h5>
     <h5 class="col-md-2 record-data"><%= swimmingForm.text_field :frSCM100, class: 'form-control', id: :swimming_frSCM100 %></h5>
   </div>

   <div class="form-group">
     <h5 class="col-md-2 record-title right-side"><%= "#{  "100 Free LCM"  }" %></h5>
     <h5 class="col-md-2 record-data"><%= swimmingForm.text_field :frLCM100, class: 'form-control', id: :swimming_frLCM100 %></h5>
   </div>

   <div class="form-group">
     <h5 class="col-md-2 record-title right-side"><%= "#{ "200 Free SCY"  }" %></h5>
     <h5 class="col-md-2 record-data"><%= swimmingForm.text_field :frSCY200, class: 'form-control', id: :swimming_frSCY200 %></h5>
   </div>

   <div class="form-group">
     <h5 class="col-md-2 record-title right-side"><%= "#{ "200 Free SCM"  }" %></h5>
     <h5 class="col-md-2 record-data"><%= swimmingForm.text_field :frSCM200, class: 'form-control', id: :swimming_frSCM200 %></h5>
   </div>

   <div class="form-group">
     <h5 class="col-md-2 record-title right-side"><%= "#{ "200 Free LCM"  }" %></h5>
     <h5 class="col-md-2 record-data"><%= swimmingForm.text_field :frLCM200, class: 'form-control', id: :swimming_frLCM200 %></h5>
   </div>

   <div class="form-group">
     <h5 class="col-md-2 record-title right-side"><%= "#{ "500 Free SCY"  }" %></h5>
     <h5 class="col-md-2 record-data"><%= swimmingForm.text_field :frSCY500, class: 'form-control', id: :swimming_frSCY500 %></h5>
   </div>

   <div class="form-group">
     <h5 class="col-md-2 record-title right-side"><%= "#{ "400 Free SCM"  }" %></h5>
     <h5 class="col-md-2 record-data"><%= swimmingForm.text_field :frSCM400, class: 'form-control', id: :swimming_frSCM400 %></h5>
   </div>

   <div class="form-group">
     <h5 class="col-md-2 record-title right-side"><%= "#{ "400 Free LCM"  }" %></h5>
     <h5 class="col-md-2 record-data"><%= swimmingForm.text_field :frLCM400, class: 'form-control', id: :swimming_frLCM400 %></h5>
   </div>

   <div class="form-group">
     <h5 class="col-md-2 record-title right-side"><%= "#{ "1000 Free SCY"  }" %></h5>
     <h5 class="col-md-2 record-data"><%= swimmingForm.text_field :frSCY1000, class: 'form-control', id: :swimming_frSCY1000 %></h5>
   </div>

   <div class="form-group">
     <h5 class="col-md-2 record-title right-side"><%= "#{  "800 Free SCM"  }" %></h5>
     <h5 class="col-md-2 record-data"><%= swimmingForm.text_field :frSCM800, class: 'form-control', id: :swimming_frSCM800 %></h5>
   </div>

   <div class="form-group">
     <h5 class="col-md-2 record-title right-side"><%= "#{ "800 Free LCM"  }" %></h5>
     <h5 class="col-md-2 record-data"><%= swimmingForm.text_field :frLCM800, class: 'form-control', id: :swimming_frLCM800 %></h5>
   </div>

   <div class="form-group">
     <h5 class="col-md-2 record-title right-side"><%= "#{ "1650 Free SCY"  }" %></h5>
     <h5 class="col-md-2 record-data"><%= swimmingForm.text_field :frSCY1650, class: 'form-control', id: :swimming_frSCY1650 %></h5>
   </div>

   <div class="form-group">
     <h5 class="col-md-2 record-title right-side"><%= "#{ "1500 Free SCM"  }" %></h5>
     <h5 class="col-md-2 record-data"><%= swimmingForm.text_field :frSCM1500, class: 'form-control', id: :swimming_frSCM1500 %></h5>
   </div>

   <div class="form-group">
     <h5 class="col-md-2 record-title right-side"><%= "#{  "1500 Free LCM"  }" %></h5>
     <h5 class="col-md-2 record-data"><%= swimmingForm.text_field :frLCM1500, class: 'form-control', id: :swimming_frLCM1500 %></h5>
   </div>

   <div class="form-group">
     <h5 class="col-md-2 record-title right-side"><%= "#{  "50 Back SCY"  }" %></h5>
     <h5 class="col-md-2 record-data"><%= swimmingForm.text_field :bkSCY50, class: 'form-control', id: :swimming_bkSCY50 %></h5>
   </div>

   <div class="form-group">
     <h5 class="col-md-2 record-title right-side"><%= "#{  "50 Back SCM" }" %></h5>
     <h5 class="col-md-2 record-data"><%= swimmingForm.text_field :bkSCM50, class: 'form-control', id: :swimming_bkSCM50 %></h5>
   </div>

   <div class="form-group">
     <h5 class="col-md-2 record-title right-side"><%= "#{  "50 Back LCM" }" %></h5>
     <h5 class="col-md-2 record-data"><%= swimmingForm.text_field :bkLCM50, class: 'form-control', id: :swimming_bkLCM50 %></h5>
   </div>

   <div class="form-group">
     <h5 class="col-md-2 record-title right-side"><%= "#{  "100 Back SCY" }" %></h5>
     <h5 class="col-md-2 record-data"><%= swimmingForm.text_field :bkSCY100, class: 'form-control', id: :swimming_bkSCY100 %></h5>
   </div>

   <div class="form-group">
     <h5 class="col-md-2 record-title right-side"><%= "#{  "100 Back SCM" }" %></h5>
     <h5 class="col-md-2 record-data"><%= swimmingForm.text_field :bkSCM100, class: 'form-control', id: :swimming_bkSCM100 %></h5>
   </div>

   <div class="form-group">
     <h5 class="col-md-2 record-title right-side"><%= "#{  "100 Back LCM" }" %></h5>
     <h5 class="col-md-2 record-data"><%= swimmingForm.text_field :bkLCM100, class: 'form-control', id: :swimming_bkLCM100 %></h5>
   </div>

   <div class="form-group">
     <h5 class="col-md-2 record-title right-side"><%= "#{  "200 Back SCY" }" %></h5>
     <h5 class="col-md-2 record-data"><%= swimmingForm.text_field :bkSCY200, class: 'form-control', id: :swimming_bkSCY200 %></h5>
   </div>

   <div class="form-group">
     <h5 class="col-md-2 record-title right-side"><%= "#{  "200 Back SCM" }" %></h5>
     <h5 class="col-md-2 record-data"><%= swimmingForm.text_field :bkSCM200, class: 'form-control', id: :swimming_bkSCM200 %></h5>
   </div>

   <div class="form-group">
     <h5 class="col-md-2 record-title right-side"><%= "#{  "200 Back LCM" }" %></h5>
     <h5 class="col-md-2 record-data"><%= swimmingForm.text_field :bkLCM200, class: 'form-control', id: :swimming_bkLCM200 %></h5>
   </div>

   <div class="form-group">
     <h5 class="col-md-2 record-title right-side"><%= "#{  "50 Breast SCY" }" %></h5>
     <h5 class="col-md-2 record-data"><%= swimmingForm.text_field :brSCY50, class: 'form-control', id: :swimming_brSCY50 %></h5>
   </div>

   <div class="form-group">
     <h5 class="col-md-2 record-title right-side"><%= "#{  "50 Breast SCM" }" %></h5>
     <h5 class="col-md-2 record-data"><%= swimmingForm.text_field :brSCM50, class: 'form-control', id: :swimming_brSCM50 %></h5>
   </div>

   <div class="form-group">
     <h5 class="col-md-2 record-title right-side"><%= "#{ "50 Breast LCM" }" %></h5>
     <h5 class="col-md-2 record-data"><%= swimmingForm.text_field :brLCM50, class: 'form-control', id: :swimming_brLCM50 %></h5>
   </div>

   <div class="form-group">
     <h5 class="col-md-2 record-title right-side"><%= "#{ "100 Breast SCY" }" %></h5>
     <h5 class="col-md-2 record-data"><%= swimmingForm.text_field :brSCY100, class: 'form-control', id: :swimming_brSCY100 %></h5>
   </div>

   <div class="form-group">
     <h5 class="col-md-2 record-title right-side"><%= "#{ "100 Breast SCM" }" %></h5>
     <h5 class="col-md-2 record-data"><%= swimmingForm.text_field :brSCM100, class: 'form-control', id: :swimming_brSCM100 %></h5>
   </div>

   <div class="form-group">
     <h5 class="col-md-2 record-title right-side"><%= "#{ "100 Breast LCM" }" %></h5>
     <h5 class="col-md-2 record-data"><%= swimmingForm.text_field :brLCM100, class: 'form-control', id: :swimming_brLCM100 %></h5>
   </div>

   <div class="form-group">
     <h5 class="col-md-2 record-title right-side"><%= "#{ "200 Breast SCY" }" %></h5>
     <h5 class="col-md-2 record-data"><%= swimmingForm.text_field :brSCY200, class: 'form-control', id: :swimming_brSCY200 %></h5>
   </div>

   <div class="form-group">
     <h5 class="col-md-2 record-title right-side"><%= "#{ "200 Breast SCM" }" %></h5>
     <h5 class="col-md-2 record-data"><%= swimmingForm.text_field :brSCM200, class: 'form-control', id: :swimming_brSCM200 %></h5>
   </div>

   <div class="form-group">
     <h5 class="col-md-2 record-title right-side"><%= "#{ "200 Breast LCM" }" %></h5>
     <h5 class="col-md-2 record-data"><%= swimmingForm.text_field :brLCM200, class: 'form-control', id: :swimming_brLCM200 %></h5>
   </div>

   <div class="form-group">
     <h5 class="col-md-2 record-title right-side"><%= "#{ "50 Fly SCY" }" %></h5>
     <h5 class="col-md-2 record-data"><%= swimmingForm.text_field :flSCY50, class: 'form-control', id: :swimming_flSCY50 %></h5>
   </div>

   <div class="form-group">
     <h5 class="col-md-2 record-title right-side"><%= "#{ "50 Fly SCM" }" %></h5>
     <h5 class="col-md-2 record-data"><%= swimmingForm.text_field :flSCM50, class: 'form-control', id: :swimming_flSCM50 %></h5>
   </div>

   <div class="form-group">
     <h5 class="col-md-2 record-title right-side"><%= "#{ "50 Fly LCM" }" %></h5>
     <h5 class="col-md-2 record-data"><%= swimmingForm.text_field :flLCM50, class: 'form-control', id: :swimming_flLCM50 %></h5>
   </div>

   <div class="form-group">
     <h5 class="col-md-2 record-title right-side"><%= "#{ "100 Fly SCY" }" %></h5>
     <h5 class="col-md-2 record-data"><%= swimmingForm.text_field :flSCY100, class: 'form-control', id: :swimming_flSCY100 %></h5>
   </div>

   <div class="form-group">
     <h5 class="col-md-2 record-title right-side"><%= "#{ "100 Fly SCM" }" %></h5>
     <h5 class="col-md-2 record-data"><%= swimmingForm.text_field :flSCM100, class: 'form-control', id: :swimming_flSCM100 %></h5>
   </div>

   <div class="form-group">
     <h5 class="col-md-2 record-title right-side"><%= "#{ "100 Fly LCM" }" %></h5>
     <h5 class="col-md-2 record-data"><%= swimmingForm.text_field :flLCM100, class: 'form-control', id: :swimming_flLCM100 %></h5>
   </div>

   <div class="form-group">
     <h5 class="col-md-2 record-title right-side"><%= "#{ "200 Fly SCY" }" %></h5>
     <h5 class="col-md-2 record-data"><%= swimmingForm.text_field :flSCY200, class: 'form-control', id: :swimming_flSCY200 %></h5>
   </div>

   <div class="form-group">
     <h5 class="col-md-2 record-title right-side"><%= "#{  "200 Fly SCM" }" %></h5>
     <h5 class="col-md-2 record-data"><%= swimmingForm.text_field :flSCM200, class: 'form-control', id: :swimming_flSCM200 %></h5>
   </div>

   <div class="form-group">
     <h5 class="col-md-2 record-title right-side"><%= "#{ "200 Fly LCM" }" %></h5>
     <h5 class="col-md-2 record-data"><%= swimmingForm.text_field :flLCM200, class: 'form-control', id: :swimming_flLCM200 %></h5>
   </div>

   <div class="form-group">
     <h5 class="col-md-2 record-title right-side"><%= "#{ "200 IM SCY" }" %></h5>
     <h5 class="col-md-2 record-data"><%= swimmingForm.text_field :imSCY200, class: 'form-control', id: :swimming_imSCY200 %></h5>
   </div>

   <div class="form-group">
     <h5 class="col-md-2 record-title right-side"><%= "#{ "200 IM SCM" }" %></h5>
     <h5 class="col-md-2 record-data"><%= swimmingForm.text_field :imSCM200, class: 'form-control', id: :swimming_imSCM200 %></h5>
   </div>

   <div class="form-group">
     <h5 class="col-md-2 record-title right-side"><%= "#{ "200 IM LCM" }" %></h5>
     <h5 class="col-md-2 record-data"><%= swimmingForm.text_field :imLCM200, class: 'form-control', id: :swimming_imLCM200 %></h5>
   </div>

   <div class="form-group">
     <h5 class="col-md-2 record-title right-side"><%= "#{ "400 IM SCY" }" %></h5>
     <h5 class="col-md-2 record-data"><%= swimmingForm.text_field :imSCY400, class: 'form-control', id: :swimming_imSCY400 %></h5>
   </div>

   <div class="form-group">
     <h5 class="col-md-2 record-title right-side"><%= "#{ "400 IM SCM" }" %></h5>
     <h5 class="col-md-2 record-data"><%= swimmingForm.text_field :imSCM400, class: 'form-control', id: :swimming_imSCM400 %></h5>
   </div>

   <div class="form-group">
     <h5 class="col-md-2 record-title right-side"><%= "#{ "400 IM LCM" }" %></h5>
     <h5 class="col-md-2 record-data"><%= swimmingForm.text_field :imLCM400, class: 'form-control', id: :swimming_imLCM400 %></h5>
   </div>

   <div class="form-group">
     <h5 class="col-md-2 record-title right-side"><%= "#{ "100 IM SCY" }" %></h5>
     <h5 class="col-md-2 record-data"><%= swimmingForm.text_field :imSCY100, class: 'form-control', id: :swimming_imSCY100 %></h5>
   </div>

   <div class="form-group">
     <h5 class="col-md-2 record-title right-side"><%= "#{ "100 IM SCM" }" %></h5>
     <h5 class="col-md-2 record-data"><%= swimmingForm.text_field :imSCM100, class: 'form-control', id: :swimming_imSCM100 %></h5>
   </div>
