<div class="col-md-12">
  <div class="media">
     <div class="media-body">
       <h5 class="col-md-12 record-division"><%= "#{ 'Best Times:' }"%></h5>
       <div class="row">
         <h5 class="col-md-2 record-title"><%= "#{ '50 Free SCY:' }"%></h5> <h5 class="col-md-2 record-data"><%= "#{ @sport.swimming.frSCY50  }"  %></h5>
         <h5 class="col-md-2 record-title"><%= "#{ '50 Free SCM:' }"%></h5> <h5 class="col-md-2 record-data"><%= "#{ @sport.swimming.frSCM50  }" %></h5>
         <h5 class="col-md-2 record-title"><%= "#{ '50 Free LCM:' }"%></h5> <h5 class="col-md-2 record-data"><%= "#{ @sport.swimming.frLCM50 }" %></h5>
       </div>
       <div class="row">
         <h5 class="col-md-2 record-title"><%= "#{ '100 Free SCY:' }"%></h5> <h5 class="col-md-2 record-data"><%= "#{ @sport.swimming.frSCY100  }" %></h5>
         <h5 class="col-md-2 record-title"><%= "#{ '100 Free SCM:' }"%></h5> <h5 class="col-md-2 record-data"><%= "#{ @sport.swimming.frSCM100  }" %></h5>
         <h5 class="col-md-2 record-title"><%= "#{ '100 Free LCM:' }"%></h5> <h5 class="col-md-2 record-data"><%= "#{ @sport.swimming.frLCM100 }" %></h5>
       </div>
       <div class="row">
         <h5 class="col-md-2 record-title"><%= "#{ '200 Free SCY:' }"%></h5> <h5 class="col-md-2 record-data"><%= "#{ @sport.swimming.frSCY200  }" %></h5>
         <h5 class="col-md-2 record-title"><%= "#{ '200 Free SCM:' }"%></h5> <h5 class="col-md-2 record-data"><%= "#{ @sport.swimming.frSCM200  }" %></h5>
         <h5 class="col-md-2 record-title"><%= "#{ '200 Free LCM:' }"%></h5> <h5 class="col-md-2 record-data"><%= "#{ @sport.swimming.frLCM200 }" %></h5>
       </div>
       <div class="row">
         <h5 class="col-md-2 record-title"><%= "#{ '500 Free SCY:' }"%></h5> <h5 class="col-md-2 record-data"><%= "#{ @sport.swimming.frSCY500  }" %></h5>
         <h5 class="col-md-2 record-title"><%= "#{ '400 Free SCM:' }"%></h5> <h5 class="col-md-2 record-data"><%= "#{ @sport.swimming.frSCM400  }" %></h5>
         <h5 class="col-md-2 record-title"><%= "#{ '400 Free LCM:' }"%></h5> <h5 class="col-md-2 record-data"><%= "#{ @sport.swimming.frLCM400 }" %></h5>
       </div>
       <div class="row">
         <h5 class="col-md-2 record-title"><%= "#{ '1000 Free SCY:' }"%></h5> <h5 class="col-md-2 record-data"><%= "#{ @sport.swimming.frSCY1000  }" %></h5>
         <h5 class="col-md-2 record-title"><%= "#{ '800 Free SCM:' }"%></h5> <h5 class="col-md-2 record-data"><%= "#{ @sport.swimming.frSCM800  }" %></h5>
         <h5 class="col-md-2 record-title"><%= "#{ '800 Free LCM:' }"%></h5> <h5 class="col-md-2 record-data"><%= "#{ @sport.swimming.frLCM800 }" %></h5>
       </div>
       <div class="row">
         <h5 class="col-md-2 record-title"><%= "#{ '1650 Free SCY:' }"%></h5> <h5 class="col-md-2 record-data"><%= "#{ @sport.swimming.frSCY1650  }" %></h5>
         <h5 class="col-md-2 record-title"><%= "#{ '1500 Free SCM:' }"%></h5> <h5 class="col-md-2 record-data"><%= "#{ @sport.swimming.frSCM1500  }" %></h5>
         <h5 class="col-md-2 record-title"><%= "#{ '1500 Free LCM:' }"%></h5> <h5 class="col-md-2 record-data"><%= "#{ @sport.swimming.frLCM1500 }" %></h5>
       </div>
       <div class="row">
         <h5 class="col-md-2 record-title"><%= "#{ '50 Back SCY:' }"%></h5> <h5 class="col-md-2 record-data"><%= "#{ @sport.swimming.bkSCY50  }"  %></h5>
         <h5 class="col-md-2 record-title"><%= "#{ '50 Back SCM:' }"%></h5> <h5 class="col-md-2 record-data"><%= "#{ @sport.swimming.bkSCM50  }" %></h5>
         <h5 class="col-md-2 record-title"><%= "#{ '50 Back LCM:' }"%></h5> <h5 class="col-md-2 record-data"><%= "#{ @sport.swimming.bkLCM50 }" %></h5>
       </div>
       <div class="row">
         <h5 class="col-md-2 record-title"><%= "#{ '100 Back SCY:' }"%></h5> <h5 class="col-md-2 record-data"><%= "#{ @sport.swimming.bkSCY100  }" %></h5>
         <h5 class="col-md-2 record-title"><%= "#{ '100 Back SCM:' }"%></h5> <h5 class="col-md-2 record-data"><%= "#{ @sport.swimming.bkSCM100  }" %></h5>
         <h5 class="col-md-2 record-title"><%= "#{ '100 Back LCM:' }"%></h5> <h5 class="col-md-2 record-data"><%= "#{ @sport.swimming.bkLCM100 }" %></h5>
       </div>
       <div class="row">
         <h5 class="col-md-2 record-title"><%= "#{ '200 Back SCY:' }"%></h5> <h5 class="col-md-2 record-data"><%= "#{ @sport.swimming.bkSCY200  }" %></h5>
         <h5 class="col-md-2 record-title"><%= "#{ '200 Back SCM:' }"%></h5> <h5 class="col-md-2 record-data"><%= "#{ @sport.swimming.bkSCM200  }" %></h5>
         <h5 class="col-md-2 record-title"><%= "#{ '200 Back LCM:' }"%></h5> <h5 class="col-md-2 record-data"><%= "#{ @sport.swimming.bkLCM200 }" %></h5>
       </div>
       <div class="row">
         <h5 class="col-md-2 record-title"><%= "#{ '50 Breast SCY:' }"%></h5> <h5 class="col-md-2 record-data"><%= "#{ @sport.swimming.brSCY50  }"  %></h5>
         <h5 class="col-md-2 record-title"><%= "#{ '50 Breast SCM:' }"%></h5> <h5 class="col-md-2 record-data"><%= "#{ @sport.swimming.brSCM50  }" %></h5>
         <h5 class="col-md-2 record-title"><%= "#{ '50 Breast LCM:' }"%></h5> <h5 class="col-md-2 record-data"><%= "#{ @sport.swimming.brLCM50 }" %></h5>
       </div>
       <div class="row">
         <h5 class="col-md-2 record-title"><%= "#{ '100 Breast SCY:' }"%></h5> <h5 class="col-md-2 record-data"><%= "#{ @sport.swimming.brSCY100  }" %></h5>
         <h5 class="col-md-2 record-title"><%= "#{ '100 Breast SCM:' }"%></h5> <h5 class="col-md-2 record-data"><%= "#{ @sport.swimming.brSCM100  }" %></h5>
         <h5 class="col-md-2 record-title"><%= "#{ '100 Breast LCM:' }"%></h5> <h5 class="col-md-2 record-data"><%= "#{ @sport.swimming.brLCM100 }" %></h5>
       </div>
       <div class="row">
         <h5 class="col-md-2 record-title"><%= "#{ '200 Breast SCY:' }"%></h5> <h5 class="col-md-2 record-data"><%= "#{ @sport.swimming.brSCY200  }" %></h5>
         <h5 class="col-md-2 record-title"><%= "#{ '200 Breast SCM:' }"%></h5> <h5 class="col-md-2 record-data"><%= "#{ @sport.swimming.brSCM200  }" %></h5>
         <h5 class="col-md-2 record-title"><%= "#{ '200 Breast LCM:' }"%></h5> <h5 class="col-md-2 record-data"><%= "#{ @sport.swimming.brLCM200 }" %></h5>
       </div>
       <div class="row">
         <h5 class="col-md-2 record-title"><%= "#{ '50 Fly SCY:' }"%></h5> <h5 class="col-md-2 record-data"><%= "#{ @sport.swimming.flSCY50  }"  %></h5>
         <h5 class="col-md-2 record-title"><%= "#{ '50 Fly SCM:' }"%></h5> <h5 class="col-md-2 record-data"><%= "#{ @sport.swimming.flSCM50  }" %></h5>
         <h5 class="col-md-2 record-title"><%= "#{ '50 Fly LCM:' }"%></h5> <h5 class="col-md-2 record-data"><%= "#{ @sport.swimming.flLCM50 }" %></h5>
       </div>
       <div class="row">
         <h5 class="col-md-2 record-title"><%= "#{ '100 Fly SCY:' }"%></h5> <h5 class="col-md-2 record-data"><%= "#{ @sport.swimming.flSCY100  }" %></h5>
         <h5 class="col-md-2 record-title"><%= "#{ '100 Fly SCM:' }"%></h5> <h5 class="col-md-2 record-data"><%= "#{ @sport.swimming.flSCM100  }" %></h5>
         <h5 class="col-md-2 record-title"><%= "#{ '100 Fly LCM:' }"%></h5> <h5 class="col-md-2 record-data"><%= "#{ @sport.swimming.flLCM100 }" %></h5>
       </div>
       <div class="row">
         <h5 class="col-md-2 record-title"><%= "#{ '200 Fly SCY:' }"%></h5> <h5 class="col-md-2 record-data"><%= "#{ @sport.swimming.flSCY200  }" %></h5>
         <h5 class="col-md-2 record-title"><%= "#{ '200 Fly SCM:' }"%></h5> <h5 class="col-md-2 record-data"><%= "#{ @sport.swimming.flSCM200  }" %></h5>
         <h5 class="col-md-2 record-title"><%= "#{ '200 Fly LCM:' }"%></h5> <h5 class="col-md-2 record-data"><%= "#{ @sport.swimming.flLCM200 }" %></h5>
       </div>
       <div class="row">
         <h5 class="col-md-2 record-title"><%= "#{ '100 IM SCY:' }"%></h5> <h5 class="col-md-2 record-data"><%= "#{ @sport.swimming.imSCY100  }"  %></h5>
         <h5 class="col-md-2 record-title"><%= "#{ '100 IM SCM:' }"%></h5> <h5 class="col-md-2 record-data"><%= "#{ @sport.swimming.imSCM100  }" %></h5>
       </div>
       <div class="row">
         <h5 class="col-md-2 record-title"><%= "#{ '200 IM SCY:' }"%></h5> <h5 class="col-md-2 record-data"><%= "#{ @sport.swimming.imSCY200  }" %></h5>
         <h5 class="col-md-2 record-title"><%= "#{ '200 IM SCM:' }"%></h5> <h5 class="col-md-2 record-data"><%= "#{ @sport.swimming.imSCM200  }" %></h5>
         <h5 class="col-md-2 record-title"><%= "#{ '200 IM LCM:' }"%></h5> <h5 class="col-md-2 record-data"><%= "#{ @sport.swimming.imLCM200 }" %></h5>
       </div>
       <div class="row">
         <h5 class="col-md-2 record-title"><%= "#{ '400 IM SCY:' }"%></h5> <h5 class="col-md-2 record-data"><%= "#{ @sport.swimming.imSCY400  }" %></h5>
         <h5 class="col-md-2 record-title"><%= "#{ '400 IM SCM:' }"%></h5> <h5 class="col-md-2 record-data"><%= "#{ @sport.swimming.imSCM400  }" %></h5>
         <h5 class="col-md-2 record-title"><%= "#{ '400 IM LCM:' }"%></h5> <h5 class="col-md-2 record-data"><%= "#{ @sport.swimming.imLCM400 }" %></h5>
       </div>
     </div>
  </div>
</div>
